h1 {
  color:grey;
  font-size:40;
}
body{
  color:grey;
  background-image:url("http://images4.alphacoders.com/876/87656.jpg");
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

}
